@import "tailwindcss";
*{
  scrollbar-width: none;
  scroll-behavior: smooth;
}
/* Prevent users from selecting text across the app */
body {
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and Consumer Edge */
  user-select: none;          /* Standard syntax */
}

/* Block touch hold-to-save popups and pointer interactions on images */
img {
  -webkit-touch-callout: none; /* iOS Safari long-press */
  pointer-events: none;        /* Makes the image un-clickable/un-right-clickable */
}